extends layout.jade

block content
  p Welcome to #{title}

  h1 Twitter

  form(action='/twitter_user_footprint', method='post')
    input(
      type='text'
      name='username'
    )
    input(type='submit', value='Find Me', class='btn-success')

  p #{sorry_message}
  